html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  position: absolute;
  background-color: black; 
  height: 100%;
  width: 100%;
  display: block; 
  margin: 0px;
}

#wrapper{
  width: 100%;
  height: 70px;
  margin: 0 auto;
  float: left;
  z-index: 98;
}

#main{
  position: inherit;
  width: 100%;
  height:100%;
  margin: 0 auto;
  z-index: 2;
}

#canvas{
  position: inherit;
  width: 100%;
  height:100%;
  margin: 0 auto;
}

#nav-toggle { position: absolute; 
  z-index: 100;}

#nav-toggle { cursor: pointer; padding: 30px 55px 35px 20px; }
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: white;
  position: absolute;
  display: block;
  content: '';
}
#nav-toggle span:before {
  top: -10px; 
}
#nav-toggle span:after {
  bottom: -10px;
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  transition: all 400ms ease-in-out;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
  clear: both;
}

#nav .block {
  position: relative;
  margin: 0 auto;
  padding: 1.5em 1.25em;
  max-width: 60em;
  z-index: 99;
  background: rgba(255, 255, 255, 0.15);
}

#nav .block-title {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

#nav ul {
  display: block;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
  margin: 0;
}

ul, menu, dir {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
}

#nav li {
  position: relative;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

#nav li {
  display: block;
}

#nav li a {
  padding: 0.42857em 0.85714em;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

#nav li a {
  display: block;
  color: #ccc;
  font-size: 0.875em;
  line-height: 1.28571em;
  font-weight: bold;
  outline: none;
}

a {
  text-decoration: none;
}

.menu-btn div {
	position: absolute;
	left: 100%;
	top: 64%;
	padding-right: 8px;
	margin-top: -0.50em;
	line-height: 1.2;
	font-size: 18px;
	font-weight: 200;
	vertical-align: middle;
	z-index: 100;
}
 
.menu-btn span {
	display: block;
	width: 19px;
	height: 3px;
	margin: 4px 0;
	background: rgb(0,0,0);
	z-index: 100;
}
 
.responsive-menu{
  visibility:hidden;
  display: table;
  opacity:0;
  -webkit-transition:400ms ease;
  -moz-transition:400ms ease;
  -o-transition:400ms ease;
  transition:400ms ease;
}
 
.expand {
	display: table;
  visibility:visible;
  opacity:1;
}

#nav-left {
  cursor: pointer;
  position: relative;
  float: left;
  width: 70px;
  height:inherit;
  opacity:0;
  z-index: 50;
  -webkit-transition:400ms ease;
  -moz-transition:400ms ease;
  -o-transition:400ms ease;
  transition:400ms ease;
}

#nav-left:hover{
  visibility: visible;
  opacity:1;
}

#nav-right {
  cursor: pointer;
  position: relative;
  float: right;
  width: 70px;
  right: 0px; 
  height:inherit;
  opacity:0;
  z-index: 50;
  -webkit-transition:400ms ease;
  -moz-transition:400ms ease;
  -o-transition:400ms ease;
  transition:400ms ease;
}

#nav-right:hover{
  visibility: visible;
  opacity:1;
}


#nav-left-upper {
  border-radius: 1px;
  height: 5px;
  width: 35px;
  top: 50%;
  background: white;
  position: absolute;
  display: block;
  content: '';
  transform: rotate(45deg) translateX(15px);
/*  transform: translateY(12px);*/
}

#nav-left-lower {
  border-radius: 1px;
  height: 5px;
  width: 35px;
  top: 50%;
  background: white;
  position: absolute;
  display: block;
  content: '';
  transform: rotate(-45deg) translateX(15px);
  vertical-align: middle;
}

#nav-right-upper {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  top: 50%;
  left: 35px;
  background: white;
  position: absolute;
  display: block;
  content: '';
  transform: rotate(45deg) translateX(-15px);
/*  transform: translateY(12px);*/
}

#nav-right-lower {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  top: 50%;
  left: 35px;
  background: white;
  position: absolute;
  display: block;
  content: '';
  transform: rotate(-45deg) translateX(-15px);
}